.waterSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 12px;
	padding: 24px;
	background-color: rgba(var(--pastel-aqua-rgb), 0.1);
	border-radius: 8px;
}

.titleBar {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 20px;
}

.titleSvg {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(var(--pastel-aqua-rgb), 0.2);
	border-radius: 12px;
	width: 36px;
	height: 36px;
}

.waterContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.removeButton,
.addButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--default-background);
	width: 48px;
	height: 48px;
	border-radius: 8px;
}

.generalCount {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.count {
	font-size: 2rem;
	color: rgba(var(--pastel-aqua-rgb), 1);
}