.dropdownContent {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.dropdown {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 8px;
	border: none;
	padding: 4px 12px;
	color: var(--primary-color);
	background-color: var(--default-background);
	transition: outline 0.05s ease-in;
}

.dropdownList {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	top: 50px;
	left: 0;
	background-color: var(--default-background);
	padding: 6px 8px;
	border-radius: 8px;
	margin-top: 8px;
	opacity: 0;
	transform: translateY(-6px);
	pointer-events: none;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdownList.open {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdownItem {
	cursor: pointer;
	padding: 6px 6px;
	color: var(--secondary-color);
	border-radius: 8px;
}

.dropdownItem:hover {
	background-color: rgba(var(--pastel-aqua-rgb), 0.4)
}

.label h2 {
	color: var(--primary-color);
	margin-bottom: 2px;
}