@import './theme.css';

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

body {
  min-height: 100%;
  line-height: 1.5;
  background-color: var(--main-background);
  font-family: var(--font-sans), sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 1.25rem;
  color: var(--primary-color);
}

h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
}

p {
  font-size: 0.9rem;
  color: var(--secondary-color);
}