.header {
	width: 100%;
	height: 100px;
	background: linear-gradient(to right,
			rgb(var(--pastel-blue) / 0.3),
			rgb(var(--pastel-sky) / 0.3),
			rgb(var(--pastel-mint) / 0.3));
	border-bottom: 1px solid rgba(168, 216, 234, 0.2);
}

.headerContainer {
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 1rem;
}

.headerContent {
	display: flex;
	align-items: center;
	gap: 12px;
}

.logo {
	background-color: var(--header-logo);
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.title {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--primary-color);
}

.title h1 {
	font-size: 1.5rem;
	font-weight: 400;
}

.subtitle {
	font-size: 0.9rem;
	font-weight: 300;
	color: var(--secondary-color);
}

.navLinks {
	display: flex;
	gap: 30px;
	margin-left: 50px;
	font-size: 1rem;
}

.navLinks li {
	position: relative;
}

.navLinks a {
	text-decoration: none;
	color: inherit;
	padding-bottom: 6px;
	color: var(--primary-color);
}

.navLinkActive a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 3px;
	border-radius: 999px;
	background: linear-gradient(to right,
			rgb(var(--pastel-blue)),
			rgb(var(--pastel-sky)),
			rgb(var(--pastel-mint)));
}

/* ============================================ */

.userActions {
	display: flex;
	align-items: center;
}

.loginButton {
	padding: 0.5rem 1.2rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--primary-color);
	background: linear-gradient(90deg,
			rgb(var(--pastel-blue)),
			rgb(var(--pastel-aqua)));
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginButton:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.loginButton:active {
	transform: translateY(0);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}