.inputContainer {
	width: 100%;
}

.label h2 {
	color: var(--primary-color);
	margin-bottom: 2px;
}

.input {
	width: 100%;
	border-radius: 8px;
	border: none;
	padding: 4px 12px;
	color: var(--primary-color);
	background-color: var(--default-background);
	transition: outline 0.05s ease-in;
}

.input::placeholder {
	color: var(--secondary-color);
}

.input:focus {
	outline: 3px solid #a1d9e7;
}