.textareaContainer {
	width: 100%;
}

.textarea {
	resize: none;
	width: 100%;
	height: 120px;
	border: none;
	border-radius: 8px;
	padding: 6px 12px;
	color: var(--primary-color);
	background-color: var(--default-background);
	transition: outline 0.05s ease-in;
}

.textarea::placeholder {
	color: var(--secondary-color);
}

.textarea:focus {
	outline: 3px solid #a1d9e7;
}

.label h2 {
	color: var(--primary-color);
	margin-bottom: 2px;
}