.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 64px;
	padding: 30px;
	background-color: rgba(var(--pastel-blue-rgb), 0.1)
}